image:
  repository: ghcr.io/chia-network/block-metrics
  tag: "{{ DOCKER_TAG }}"

imagePullSecrets:
  - name: block-metrics-image-pull

deployment:
  containerPort: 9914
  livenessProbe:
    httpGet:
      path: /healthz
      port: http
  readinessProbe:
    httpGet:
      path: /healthz
      port: http

service:
  enabled: true
  additionalLabels:
    prometheus: application-metrics
    application: block-metrics
  port: 9914

configmapEnvironment:
  BLOCK_METRICS_CHIA_HOSTNAME: chia-blockchain-local.chia-blockchain.svc

configmapFile:
  mountPath: "/root"
  values:
    ".block-metrics.yaml": |-
      adjusted-ignore-addresses:
        - "xch183rqja3f2ak4f72w9enc88v0788vjp5ns3c2n2sctxpcnewzh2yqtcu2rs"
        - "xch1w6cjx6tygnlzted2ykacw2hqwxffkdt595r05rdxqpudq90gjhrs76ql54"
        - "xch178wppppm8pqp9tkalcurclln2q54snvs3estx5fmfhp936pzdajszh83t9"

secretFile:
  mountPath: /root/.chia/mainnet/config
  stringValues:
    config.yaml: |
      {{ CONFIG_YAML | indent(6, False) }}
    private.crt: |
      {{ PRIVATE_CRT | indent(6, False) }}
    private.key: |
      {{ PRIVATE_KEY | indent(6, False) }}
    public.crt: |
      {{ PUBLIC_CRT | indent(6, False) }}
    public.key: |
      {{ PUBLIC_KEY | indent(6, False) }}

secretEnvironment:
  BLOCK_METRICS_DB_HOST: "{{ DB_HOST }}"
  BLOCK_METRICS_DB_USER: "{{ DB_USER }}"
  BLOCK_METRICS_DB_PASSWORD: "{{ DB_PASSWORD }}"
  BLOCK_METRICS_DB_NAME: "blocks-dev"

networkPolicy:
  enabled: true
  policyTypes:
    - Egress
  egressRules:
    - to:
        - namespaceSelector:
            matchLabels:
              name: chia-blockchain
      ports:
        - protocol: TCP
          port: 8555
        - protocol: TCP
          port: 55400
