image:
  repository: ghcr.io/chia-network/block-metrics
  tag: "{{ DOCKER_TAG }}"

imagePullSecrets:
  - name: block-metrics-image-pull

deployment:
  containerPort: 9914
  environment:
    CHIA_ROOT: /chia-data
  livenessProbe:
    exec:
      command:
        - bash
        - /usr/local/bin/docker-healthcheck.sh
  readinessProbe:
    httpGet:
      path: /healthz
      port: http

service:
  enabled: true
  additionalLabels:
    prometheus: application-metrics
    application: block-metrics
  port: 9914

# Creates a MySQL DB cluster and database with the following settings (utilizes MySQL-Operator)
mysql:
  enabled: true
  dbName: "blocks"
  rootUser:
    user: "root"
    password: "{{ DB_ROOT_PASSWORD }}"
  standardUser:
    user: "{{ DB_USER }}"
    password: "{{ DB_PASSWORD }}"
  readOnlyUser:
    user: "{{ DB_READ_ONLY_USER }}"
    password: "{{ DB_READ_ONLY_PASSWORD }}"

configmapEnvironment:
  BLOCK_METRICS_CHIA_HOSTNAME: chia-blockchain.chia-blockchain.svc

secretFile:
  mountPath: /root/.chia/mainnet/config/
  stringValues:
    config.yaml: |
      {{ CONFIG_YAML | indent(6, False) }}
    private_crt: |
      {{ PRIVATE_CRT | indent(6, False) }}
    private_key: |
      {{ PRIVATE_KEY | indent(6, False) }}
    public_crt: |
      {{ PUBLIC_CRT | indent(6, False) }}
    public_key: |
      {{ PUBLIC_KEY | indent(6, False) }}


secretEnvironment:
  BLOCK_METRICS_DB_HOST: "block-metrics-mysql"
  BLOCK_METRICS_DB_USER: "{{ DB_USER }}"
  BLOCK_METRICS_DB_PASSWORD: "{{ DB_PASSWORD }}"
  BLOCK_METRICS_DB_NAME: "blocks"
