image:
  repository: ghcr.io/chia-network/block-metrics
  tag: "{{ DOCKER_TAG }}"

imagePullSecrets:
  - name: block-metrics-image-pull

deployment:
  containerPort: 9914
  environment:
    CHIA_ROOT: /chia-data
  livenessProbe:
    httpGet:
      path: /healthz
      port: http
  readinessProbe:
    httpGet:
      path: /healthz
      port: http

service:
  enabled: true
  additionalLabels:
    #prometheus: application-metrics
    application: block-metrics
  port: 9914

secretEnvironment:
  BLOCK_METRICS_DB_HOST: "{{ DB_HOST }}"
  BLOCK_METRICS_DB_USER: "{{ DB_USER }}"
  BLOCK_METRICS_DB_PASSWORD: "{{ DB_PASSWORD }}"
  BLOCK_METRICS_DB_NAME: "blocks"

volumes:
  - name: chia-data
    mountPath: /chia-data
    size: 250Gi
