image:
  repository: ghcr.io/chia-network/block-metrics
  tag: "{{ DOCKER_TAG }}"

imagePullSecrets:
  - name: block-metrics-image-pull

deployment:
  containerPort: 9914
  environment:
    CHIA_ROOT: /chia-data
  livenessProbe:
    httpGet:
      path: /healthz
      port: http
  readinessProbe:
    httpGet:
      path: /healthz
      port: http

service:
  enabled: true
# @TODO this will also need an application label when enabled
#  annotations:
#    prometheus-dev: scrape
  port: 9914

# Creates a MySQL DB cluster and database with the following settings (utilizes MySQL-Operator)
mysql:
  enabled: false
  name: "blocks"
  instances: 3
  routerInstances: 1
  rootUser:
    secret-name: db-root-creds
    user: "root"
    password: "{{ DB_ROOT_PASSWORD }}"
  standardUser:
    secret-name: db-user-creds
    user: "{{ DB_USER }}"
    password: "{{ DB_PASSWORD }}"

secretEnvironment:
  BLOCK_METRICS_DB_HOST: "block-metrics-mysql"
  BLOCK_METRICS_DB_USER: "{{ DB_USER }}"
  BLOCK_METRICS_DB_PASSWORD: "{{ DB_PASSWORD }}"
  BLOCK_METRICS_DB_NAME: "blocks"

volumes:
  - name: chia-data
    mountPath: /chia-data
    size: 200Gi
    storageClassName: longhorn

